<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>блог</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="body"> 
    <a href="{{ url_for('index') }}"><h1 class="line-title">COSMY</h1></a>
    <header class="header">
        <nav class="nav">
            <a href="{{ url_for('catalog') }}" class="nav-button">каталог</a>
            <a href="{{ url_for('brand') }}" class="nav-button">бренди</a>
            <a href="{{ url_for('blog') }}" class="nav-button">про нас</a>
            <a href="{{ url_for('cart') }}" class="nav-button">мій кошик</a>
        </nav>
        <div class="full-width-line"></div>
    <main>
        <div class="content">
        <div class="text-container">
            <h2>Інтернет-магазин професійної косметики "COSMY"</h2><br>
            <div class="blog1">
            <p>Вітаємо в інтернет-магазині "COSMY" - вашому надійному провіднику у світі професійної косметики!</p><br>
            <p>Ми створили платформу, яка обʼєднує найкращі бренди та новітні тенденції у світі краси. Наш інтернет-магазин - це місце, де кожен знайде саме те, що потрібно для
                догляду за волоссям, обличчям і тілом. З 2014 року ми займаємо лідерські позиції у онлайн-бʼюті індустрії, пропонуючи широкий вибір продуктів, ексклюзивні
                подарунки та приємні бонуси для наших клієнтів.</p><br>
            <p>Інтернет-магазин "COSMY" безпосередньо співпрацює з провідними брендами, щоб гарантувати оригінальність товарів і надавати найактуальнішу інформацію про
                продукти. Наші експерти з краси постійно навчаються, щоб підбирати найефективніший догляд для наших клієнтів. У нас ви знайдете новинки та перевірені продукти таких відомих марок як Medic8, La Sultane de Saba, та багато інших</p><br>
            <h4>Асортимент продукції, який задовольнить потреби кожного клієнта</h4><br>
            <p>Команда "COSMY" розуміє, наскільки важливо підібрати правильну косметику й наскільки складно це буває. Тому ми пропонуємо асортимент, що задовольнить
                будь-які потреби шкіри та волосся. Роблячи замовлення в інтернет-магазині "COSMY", ви можете бути впевнені в оригінальності та ефективності придбаних засобів.</p><br>
            <h4>Догляд за волоссям</h4><br>
            <p>У магазині "COSMY" ви знайдете все необхідне для догляду за будь-яким типом волосся:</p>
            <ul>
                <li>Шампуні та кондиціонери (відновлюючі, зволожуючі, для обʼєму, проти лупи та багато інших).</li>
                <li>Маски та сироватки (для глибокого живлення та відновлення волосся, надання йому блиску та сили).</li>
                <li>Стайлінгові продукти (лаки, муси, гелі, воски та пінки для створення будь-якої зачіски).</li>
            </ul><br>
            <h4>Косметика для обличчя та тіла</h4><br>
            <p>Наша косметика допоможе вам бути впевненими та відчувати себе чудово щодня:</p><br>
            <ul>
                <li>Креми та лосьйони (зволожувальні, антивікові, для проблемної та чутливої шкіри).</li>
                <li>Сироватки та есенції (для вирішення специфічних проблем шкіри, таких як пігментація, розширені пори, акне).</li>
                <li>Очищення та пілінги (мʼякі гелі для вмивання, тоніки, маски та скраби).</li>
            </ul><br>
            <h4>Додаткові товари</h4><br>
            <p>Ми також пропонуємо:</p><br>
            <ul>
                <li>Парфумовану продукцію (широкий асортимент ароматів для будь-якого настрою та випадку).</li>
                <li>Аксесуари (щітки, гребінці, косметички та багато іншого).</li>
            </ul><br>
            <p>Асортимент у інтернет-магазині "COSMY" постійно оновлюється, щоб ви завжди могли знайти саме те, що вам потрібно.</p><br>
            <h3>Чому обирають саме нас?</h3><br>
            <ul>
                <li>1. Різноманіття: Ми постійно оновлюємо асортимент, додаючи новинки та популярні бренди.</li>
                <li>2. Якість: Усі товари проходять суворий контроль якості та відповідають високим стандартам.</li>
                <li>3. Зручність: Інтуїтивно зрозумілий інтерфейс сайту, швидка навігація та детальні описи товарів допоможуть вам легко знайти необхідне.</li>
                <li>4. Сервіс: Професійні консультації та персональні рекомендації від наших менеджерів.</li>
                <li>5. Доставка: Оперативна доставка по всій Україні з можливістю відстеження замовлення в режимі реального часу.</li>
                <li>6. Оплата: Безпечні та зручні способи оплати на ваш вибір.</li>
            </ul><br>
            <h3>Залишайтесь з нами</h3><br>
            <p>Інтернет-магазин "COSMY" - це не просто місце для покупок, а цілий світ краси, де кожен знайде щось особливе для себе. Ми прагнемо зробити ваш досвід шопінгу
                максимально приємним і зручним.</p><br>
            <p>Дякуємо, що обираєте нас! Разом ми робимо світ яскравішим і красивішим.</p>
        </div></div>



    </div>
    </main>
    <footer>
        <div class="footer">
           <div class="footer-text"> 
                <ul class="footer-ul">
                <li><a href="#"><img src="static/images/лаб3(3).png" class="footer-img" target="_blank"></a></li>
                <li><a href="https://www.instagram.com/cosmy/" class="text-inst" target="_blank"><h2 class="text-inst">Підписатися</h2></a></li>
                <li><a href="https://www.instagram.com/cosmy/" target="_blank"><p class="text-inst">@cosmy в instagram</p></a></li>
            </div>
        </ul>
     <div class="carousel">
        <div class="carousel-track">
            <a href=""></a><img src="static/images/post7.jpeg" class="carousel-image" alt="Image 7"></a>
            <a href=""></a><img src="static/images/post8.jpeg" class="carousel-image" alt="Image 8"></a>
            <a href=""></a><img src="static/images/post9.jpeg" class="carousel-image" alt="Image 9"></a>
            <a href=""></a><img src="static/images/post10.jpeg" class="carousel-image" alt="Image 10"></a>
            <a href=""></a><img src="static/images/post11.jpeg" class="carousel-image" alt="Image 11"></a>
            <a href=""></a><img src="static/images/post12.jpeg" class="carousel-image" alt="Image 12"></a>
            <a href=""></a><img src="static/images/post13.jpeg" class="carousel-image" alt="Image 13"></a>
            <a href=""></a><img src="static/images/post14.jpeg" class="carousel-image" alt="Image 14"></a>
        </div>
    </div>
    </div>
       </footer>
    <script src="static/script.js"></script>
</body>
</html>