<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>  
<body class="body"> 
    <a href="{{ url_for('index') }}"><p class="line-title">COSMY</p></a>
    <header class="header">
        <nav class="nav">
            <a href="{{ url_for('catalog') }}" class="nav-button">каталог</a>
            <a href="{{ url_for('brand') }}" class="nav-button">бренди</a>
            <a href="{{ url_for('blog') }}" class="nav-button">про нас</a>
            <a href="{{ url_for('cart') }}" class="nav-button">мій кошик</a>
        </nav>
        <div class="full-width-line"></div>
    </header>
     <main>
    <div class="content">
        <div class="image-container">
        <a href="https://www.youtube.com/watch?v=1hssnzNmgUc" class="zoom-image">
            <img src="static/images/космет.jpeg" alt=""></a>
        </div>
        <div class="image-container">
            <a href="present.html"><img src="static/images/лаб3(1).jpeg" alt="" class="zoom-image"></a>
            <a href="#"><img src="static/images/лаб3(2).jpeg" alt="" class="zoom-image"></a></div>
        <div class="text-container">
        <h1>Засоби для комплексного догляду з клінічно доведеною ефективністю</h1>
        <p>COSMI – магазин натуральної ефективної косметики для догляду за обличчям, тілом і волоссям з високою концентрацією активних компонентів в засобах. Косметика створена лікарями-косметологами на основі власного практичного досвіду роботи з клієнтами та знанні їхніх потреб. Інгредієнти виробляються в країнах Європи (Швейцарія, Франція, Італія, Німеччина та інші) і мають європейські сертифікати Ecocert і Cosmos.</p>
        <h2>Усі засоби COSMI створені за певними принципами:</h2>
        <ul class="text-cosmi">
            <li>Ефективність – кожний продукт містить високу концентрацію активних компонентів з доказовою базою досліджень, що забезпечує видимий результат. </li>
            <li>Безпечність – продукція виробляється на власному виробництві, сертифікованому згідно з європейським стандартом GMP. Уся вона протестована за мікробіологічними показниками безпеки.</li>
            <li>Доступність – за розумною ціною, щоб більшість жінок могла собі дозволити якісний догляд та купити її в інтернет-магазині косметики.</li>
            <li>Натуральність – на натуральній основі без критичних компонентів для здоров’я шкіри та організму в цілому.</li>
            <li>Фізіологічність – добре сприймається шкірою, заповнює дефіцити та допомагає їй бути здоровою та молодою.</li>
        </ul>
        <h2>Наша філософія</h2>
        <p class="text-cosmi1">Ми переконані, що регулярний комплексний домашній догляд – це запорука видимого результату: усунення недоліків шкіри, збереження молодості. Тому ми розробили просту зрозумілу схему щоденного догляду, до якої легко інтегруються наші засоби, залежно від потреб шкіри кожної жінки: від сухої та нормальної до жирної та проблемної. Також косметика підходить для різних вікових категорій.</p>
        <p class="text-cosmi1">Наші засоби м'яко, але ефективно очищають шкіру, живлять її, відновлюють ліпідний бар’єр, захищають від зовнішніх факторів та запускають природні процеси омолодження. Обравши COSMI, ви можете бути впевнені, що вміст ваших улюблених баночок є безпечним та ефективним, адже виготовляється відповідно до вимог європейського стандарту GMP. У 2022 році вся продукція отримала сертифікацію ЄС та офіційно представляється партнерами бренду. </p>
        <p class="text-cosmi1">Понад 36 тисяч жінок в Україні та ЄС покращили стан шкіри та усунули її недоліки за допомогою нашого догляду. Це натуральна косметика з доведеною ефективністю активних компонентів. Спробуйте і ви!</p>
   </div></div>
</main>
   <footer>
    <div class="footer">
       <div class="footer-text"> 
            <ul class="footer-ul">
            <li><a href="#"><img src="static/images/лаб3(3).png" class="footer-img" target="_blank"></a></li>
            <li><a href="https://www.instagram.com/cosmy/" class="text-inst" target="_blank"><h2 class="text-inst">Підписатися</h2></a></li>
            <li><a href="https://www.instagram.com/cosmy/" target="_blank"><p class="text-inst">@cosmy в instagram</p></a></li>
        </div>
    </ul>
 <div class="carousel">
    <div class="carousel-track">
        <a href=""></a><img src="static/images/post7.jpeg" class="carousel-image" alt="Image 7"></a>
        <a href=""></a><img src="static/images/post8.jpeg" class="carousel-image" alt="Image 8"></a>
        <a href=""></a><img src="static/images/post9.jpeg" class="carousel-image" alt="Image 9"></a>
        <a href=""></a><img src="static/images/post10.jpeg" class="carousel-image" alt="Image 10"></a>
        <a href=""></a><img src="static/images/post11.jpeg" class="carousel-image" alt="Image 11"></a>
        <a href=""></a><img src="static/images/post12.jpeg" class="carousel-image" alt="Image 12"></a>
        <a href=""></a><img src="static/images/post13.jpeg" class="carousel-image" alt="Image 13"></a>
        <a href=""></a><img src="static/images/post14.jpeg" class="carousel-image" alt="Image 14"></a>
    </div>
</div>
</div>
   </footer>
   <script src="static/script.js"></script>
</body>
</html>